
.card 
{
    margin: auto;
    /*border: 3px solid  gray; */ 
    padding-top: 0.5em;
padding-left: 0.095em;
padding-right: 0.095em;
padding-bottom:0.5em;
overflow: hidden;}

#format
{
    color:rgb(115, 135, 156);
    font-size:6.5vh;
    font-weight:700;
    text-align:center;
    overflow: hidden;
}

.size
{
    width: 100%; 
    height:34vh;
}
#cardH
{
    margin:auto;
    text-align:center; 
   /* background:linear-gradient(135deg, #CE9FFC 0%,#a988f7 100%);*/
   background: linear-gradient(135deg, #1b5469 0%,#2b2f2d 100%);
    color:white;
    height: 10vh;
    font-size: 2vh;
    overflow: hidden;
    

}
.card-body
{
    padding: 0px;
}
p{
    text-align: center;
    color:rgb(138, 139, 139);
    font-size:2.8vh;
    font-weight:650;
    text-align:center;
    overflow: hidden;

    
}
.card-title
{
    background-color:#e4eaec;
    margin:0;
    padding:0;
    max-height: 9vh;
}