 
    <div class="row">
           <div class="col-md-4" id="top">
              <app-vendor-c [enable]="enable" [data]="data" (show)="set($event)">
              </app-vendor-c>             
           </div> 
           <div class="col-md-4" id="top">
               <app-shelflife-c  [enable]="enable" (show)="set($event)" >
               </app-shelflife-c>
          </div> 
          <div class="col-md-4" id="top">
              <app-reorder-c [enable]="enable" (show)="set($event)">
              </app-reorder-c>                 
           </div> 
       
      </div>  
       <div class="row">
           <div class="col-md-4">
                 <!--  <div  class="card">
                    <div class="mb-3 col-md-8" >
                      <div class="card-header" id="cardH">Activity<h5 class="card-title">6</h5></div>
                       
                    
                    </div>
                       <div class="card-body" >
                         <div id="chartdiv3" style="width: 100%; height:23vh"></div>
                       </div>
                    </div>    -->
                    <app-activity-c [enable]="enable" (show)="set($event)"></app-activity-c>             
             </div> 
             <div class="col-md-4">
                <app-faulty-c [enable]="enable"   (show)="set($event)">
                </app-faulty-c>          
            </div> 
            <div class="col-md-4">
              <app-revenue-c  [enable]="enable" (show)="set($event)">
              </app-revenue-c>
            </div>
              
         
       </div>  
   

      