

<div class="wrapper">

        <app-sidebar></app-sidebar>
       
      <div class="main-panel">
          <app-navbar></app-navbar>
         <div class="container-fluid">
      
        <div class="row">
          <div class="col-md-2" style="padding-top: 0.5em;">
                <app-stock-level></app-stock-level>
            </div>  
      
            <div class="col-md-6" style="padding-top: 0.5em;">
              <div  class="card" >
               
      
               <p  class="card-title" style="text-align:center;">Item in Deficiency List Awaiting RIR</p>  
                <div class="card-body">
                 <div id="format"  style="text-align: center"  >100</div>
                 </div>
               </div>
               
              
             <div style="padding-top: 0.25em;">
                <app-unserviceable>
                  </app-unserviceable>
               
                

                  </div>
                </div>
                <div class="col-md-4" style="padding-top: 0.5em;">
                    <div  class="card" >
               
      
                        <p  class="card-title" style="text-align:center;">ItemS awaiting RIR</p>  
                         <div class="card-body">
                          <div id="format"  style="text-align: center"  >2500</div>
                          </div>
                        </div>
                <div style="padding-top: 0.25em;">
                <app-unaailabel-items>
                  </app-unaailabel-items>
                </div>
                
                </div>
                </div>
               
            
         
                  
            
        
        <div class="row">
                  <div class="col-md-6">
                      <app-pre-installation>
                        </app-pre-installation>
                      
                  </div>
              
                        <div class="col-md-6">
                            <app-demand-issuance></app-demand-issuance>
                        </div>
        </div>
      
             <div class="row">   
        <div class="col-md-6">
                                 
                                  <app-testing></app-testing>

                              </div>
            
          
                              <div class="col-md-6">
                                  <app-critical-def>
                                    </app-critical-def>
             
        
                            </div>
             </div>
          <app-def-table>
        </app-def-table>
        </div> 
      
      </div>
        
      
              
          
                  
                 
        
              
                   
           
        
        
        
      
      
      
      
      
      
      