<div class="wrapper">         

  <div class="container-fluid" >
     <div class="row">
         <div class="col-md-12 " id="vendor"  >
                        <h2>Vendors</h2>
                       <app-vendor-t></app-vendor-t>
                   
           </div> 
           <div  class="col-md-12" id="shelf">
               <h2>Shelf life</h2>
            <app-shelflife-t></app-shelflife-t>
                            
          </div> 
          <div class="col-md-12"  id="reorder">
       
              <h2>Reorder</h2>
                <app-reoeder-t></app-reoeder-t>
                         
           </div> 
       
      </div>  
       <div class="row">
           <div class="col-md-12" id="activity">
                     <h2>Acitvity</h2>
                      <app-activity-t></app-activity-t>
                                   
             </div> 
             <div class="col-md-12" id="faults">
                 <h2>Total Faults</h2>
                  <app-faults-t></app-faults-t>
                    
            </div> 
            <div  class="col-md-12"  id="revenue"  >
               <h2  >Revenue</h2>
                  <app-revenue-t></app-revenue-t>
                            
             </div> 
         
       </div>  
   </div>  
</div>  
